doctype html
html(lang='zh-CN')
    head
        meta(charset='UTF-8')
        title 编辑页面
        link(href='/stylesheets/edit.css', rel='stylesheet', type='text/css')
    body
        #wrapper
            #postList.right.midwrap.container
                .header
                    p.title 发博文
                    form.editBox(method='POST', onsubmit='return validateForm();', action= '/'+ username + '/edit' )
                        #newEdit
                            p#editTitle 标题:
                            textarea#titleArea(name='titleArea')
                            textarea#editArea(name='editArea')
                            ul.editTagList
                                li
                                    span 分类:
                                    select#categorySelect(name='categorySelect')
                                        option(value='disabled') 选择分类
                                        option(value='techNews') 科技新闻
                                        option(value='funTime') 休闲时刻
                                        option(value='yummy') 吃货必看
                                    a.tag.newCategory(href='') 创建分类
                                li
                                    span 标签:
                                    textarea#tagArea(name='tagArea', placeholder='填写标签, 让更多人看到你的博文')
                            input#editSubmit.submit.buttons(type='submit', value='发博文')
        footer
            p Copyright © 1996 - 2014 SINA Corporation, All Rights Reserved
            p 新浪公司 版权所有

        script(type='text/javascript', src='/javascripts/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/javascripts/edit.js')