doctype html
html(lang='zh-CN')
    head
        meta(charset='UTF-8')
        title 个人资料
        link(href='/stylesheets/login.css', rel='stylesheet', type='text/css')
    body
        #wrapper
            form#profileForm.changeProfile(method='POST', , action= '/'+username+'/profile' enctype='multipart/form-data')
                .loginBoxMain
                    p   原始密码
                    input#originalPassword.loginBoxMain(type='text',name='originalPassword')
                    p   新密码
                    input#newPassword.loginBoxMain(type='text', name = 'newPassword')
                    p   上传头像
                    input#newAvatar(type='file' , name = 'newAvatar')
                .loginBoxButtons
                    input#profileSubmit.submit.buttons(type='submit', value='确认')
                    input.cancel.buttons(type='reset', value='取消')
        script(type = 'text/javascript', src='/javascripts/lib/require.js' data-main='/javascripts/profile')
